body {
    font-family: FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    background:white;
}

header {
    background: midnightblue;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}
.filter {
    margin-bottom: 20px;
}
.filter label {
    margin-right: 10px;
}

filter select {
    padding: 5px;
    margin-right: 20px;
}

.rooms table {
    width: 100%;
    border-collapse: collapse;
}

.rooms th .rooms td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.rooms th {
    background:midnightblue;
    color: white;
}
.rooms td {
    background: white;
}
.rooms .disabled {
    color: red;
    text-decoration:none
}

.rooms.disabled:hover {
    cursor: not-allowed;
}

fo