body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.filter-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.filter-container label {
    margin-right: 10px;
}

#meeting-rooms-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.room-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.room-card button {
    margin-top: 10px;
}

#booking-form {
    display: none;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.hidden {
    display: none;
}