html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  background-color: white;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-bootom: 10px;
  overflow: hidden;
}

.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  text-align: center;
  font-size: 6rem;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
  color: black;
}

.video-container {
  position: absolute;
  width: auto;
  left:0;
  top:0;
  height:auto;
}
.video
{
  width: 1013px;
  height:540px;
}

.color-overlay { 
  position: absolute;
  background: lightgray;
  width:960px;
  height: 546px;
  left:0;
  top:0;
  opacity:0.5;
 
}

.DSV-text-and-image hr {
  height: 3px;
  border-width: 2rem;
  color: midnightblue; !important;
  background: midnightblue;!important;
}

.DSV-text-and-image img {
  width: 100%;
  height: auto;
  display: block;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}

.DSV-text-and-image p {
  color: black;
  font-size: 17px;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
}

.DSV-text-and-image h5{
  color: black;
  font-size: 35px;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.DSV-text-and-image h6 {
  color: black;
  font-size: 20px;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
}

.DSV-text-and-image b {
  color: black;
  font-size: 19px;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.DSV-text-and-image i {
  color: black;
  font-size: 17px;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.text-center img {
  width: 100%;              
  height: auto;             
  display: block;           
  flex-direction: column;   
  margin-left:0;            
  margin-right: 0;          
}

.text-and-image img {
  width: 100%;
  height: auto;
  display: block;
  flex-direction: column;
  margin-left:0;
  margin-right: 0;
}

.text-and-image h2{
  font-size: 35px;
  margin: 0 0 .4em;
  font-family: FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 32px;
}

.text-and-image p {
  color: black;
  font-size: 16px;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
}

.text-and-image i {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.text-and-image hr {
  height: 3px;
  border-width: 2rem;
  color: midnightblue; !important;
  background: midnightblue;!important;
}
