html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  background-color: white;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-bootom: 10px;
  overflow: hidden;
}

.text-center iframe{
  align-items: center;
}

.text-center img {
  width: 400px;
  height: auto;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
}

.text-center h2 {
  text-align: center;
  color: midnightblue;
  font-size: 60px;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.DSV-text-and-image {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.DSV-text-and-image hr {
  height: 3px;
  border-width: 2rem;
  color: midnightblue; !important;
  background: midnightblue;!important;
}

.DSV-text-and-image img {
  width: 100%;
  height: auto;
  display: block;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}

.OmDSV-text-and-image {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; 
}

.OmDSV-text-and-image p {
  max-width: 800px;
  color: black;
  font-size: 17px;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.OmDSV-text-and-image h5{
  color: black;
  font-size: 35px;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 1rem;
  margin-bottom: 20px;
}

.OmDSV-text-and-image h6 {
  color: black;
  font-size: 20px;
  text-align: center; !important;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.OmDSV-text-and-image b {
  color: black;
  font-size: 19px;
  text-align: center; !important;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
}

.OmDSV-text-and-image i {
  color: black;
  font-size: 17px;
  text-align: center; !important;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
}

.Small-picture img {
  width: 15vw;
  height: 15vw;
  margin-bottom: 20px;
  overflow: hidden;
}


.text-and-image img {
  width: 100%;
  height: auto;
  display: block;
  flex-direction: column;
  margin-left:0;
  margin-right: 0;
}

.text-and-image h2{
  font-size: 35px;
  margin: 0 0 .4em;
  font-family: FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 32px;
}

.text-and-image p {
  color: black;
  font-size: 16px;
  line-height: 1.5em;
  font-family:FoundrySterlingOT3W03-ExtraBold, Arial, Helvetica, sans-serif;
}

.text-and-image i {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.text-and-image hr {
  height: 3px;
  border-width: 2rem;
  color: midnightblue; !important;
  background: midnightblue;!important;
}
