@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<body class="index-page">
<div class="text-center">
    <img src="images/forside.png" alt="forside DSV">
    <h2>Vi kan forbinde din virksomhed med verden</h2>
    <hr>
    <iframe width="966" height="543" src="https://www.youtube.com/embed/1QJLhUSBN_0" title="A special kind of drive" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
    </body>
</html>

