@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<body class="index-page">
<div class="text-center">
    <div class="hero">
        <h1> DSV </h1>
        <video autoplay muted loop id="myVideo">
        </video>
    </div>





    <iframe width="966" height="543" src="https://www.youtube.com/embed/1QJLhUSBN_0" title="A special kind of drive" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <img src="images/index.png" alt="forside"></img>
</div>
</body>

</html>

