@page
@model PrivacyModel
@{
    ViewData["Title"] = "Karrier";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DSV </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DSV.styles.css" asp-append-version="true" />
</head>

<body class="Karrier-page">
<div class="text-and-image">
    <img src="images/Karrier.png" alt="mød vores medarbejder" ></img>
    <hr/>
    
    <div>
        
        <h2> Hos DSV er vi 75.000 dedikerede medarbejdere, som arbejder i mere end 80 lande. Hver dag stræber vi efter at udvikle os.</h2>
        <p> Uanset hvor i denne globale virksomhed du kigger, vil du finde folk, der ønsker at flytte virksomheden, kunderne og sig selv fremad.
            Hos os er mennesker i centrum – det drive, talent og engagement vores ansatte bidrager med, er dét der gør DSV til en fantastisk arbejdsplads.
            Vi har et dynamisk miljø med hurtige beslutninger på alle niveauer – hvor ambitioner møder teamwork, især når vi tager imod udfordringer, overkommer dem, udvikler os og gør en forskel.
            Vores medarbejdere arbejder alle på at flytte, hvad verden har brug for at flytte. Vi er elever, speditører, IT professionelle, sælgere, Finansspecialister, lagermedarbejdere, lastbilschauffører og mange flere –
            men vi er alle på en måde speditører.
            Du får chancen for at påvirke din egen karrierevej hos DSV og bevæge dig i den retning, der passer til dig.
            Vi tror på, at alle kan indfri deres potentiale, hvis de tager ansvar for deres egen karriere.
        </p>
    </div>
    <hr/>
    <div>
        <i> Se videoerne med vores medarbejdere og lær hvorfor de arbejder for DSV</i>
    </div>
<div>
    <iframe height="315" width="420" src="https://youtu.be/lez2n1mYCyA?Aautoplay=1&mute=1"></iframe>
</div>
</div>
</body>
</html>