@page

@{
    ViewData["Title"] = "My DSV";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DSV Mødelokalebooking </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/booking.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DSV.styles.css" asp-append-version="true" />
</head>
<body>
<header>
    <h1> MyBooking</h1>
</header>
<main>
    <section class="filter">
        <h2>Filtrer Mødelokaler</h2>
        <label for="capacity">Kapacitet:</label>
        <select id="capacity" name="capacity">
            <option value="all">Alle</option>
            <option value="1-5">1-5 personer</option>
            <option value="6-10">6-10 personer</option>
            <option value="11-15">11-15 personer</option>
            <option value="16-20">16-20 personer</option>
        </select>
        
        <label for="equipment"> Udstyr: </label>
        <select id="equipment" name="equipment">
            <option value="all">Alle</option>
            <option value="projector">Projektor</option>
            <option value="whiteboard">Whiteboard</option>
            <option value="webcam">Webcam</option>
            <option value="conferenc phone">Conferens Phone</option>
            <option value="both">Projektor & Whiteboard</option>
        </select>
    </section>
    
    <section class="rooms">
        <h2>Ledige Lokaler</h2>
        <table>
            <thead>
            <tr>
                <th>Lokale</th>
                <th>Kapacitet</th>
                <th>Status</th>
                <th>Book</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mødelokale A</td>
                <td>5 personer</td>
            <td>Ledig</td>
            <td>
                <a href="rooms/Room=A.html"> Book</a></td> 
            </tr>
            <tr>
                <td>Mødelokale B</td>
                <td>7 personer</td>
                <td>Ledig</td>
                <td>
                    <a href="rooms/Room=B.html"> Book</a></td>
            </tr>
            <tr>
                <td>Mødelokale C</td>
                <td>10 personer</td>
                <td>Optage</td>
                <td>
                    <a href="rooms/Room=C.html" class="disabled"> Book</a></td>
            </tr>
            <tr>
                <td>Mødelokale D</td>
                <td>15 personer</td>
                <td>Ledig</td>
                <td>
                    <a href=""> Book</a></td>
            </tr>
            <tr>
                <td>Mødelokale E</td>
                <td>20 personer</td>
                <td>Optage</td>
                <td>
                    <a href="rooms/Room=E.html" class="disabled"> Book</a></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>

