@page

@{
    ViewData["Title"] = "Om DSV";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DSV </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DSV.styles.css" asp-append-version="true" />
</head>

<body class="OmDSV-page">
<div class="text-and-image">
    <img src="images/DSV Om.png" alt="OM DSV" ></img>
    <img src="images/Værdier.png" alt="værdier";></img>
    <h5> Virksomhedsansvar</h5>
    <h6> Bæredygtighed</h6>
    <b> På vej mod bæredygtige forsyningskæder</b>
    <p>
        Vi holder globale forsyningskæder flydende, og vi er forpligtet til at muliggøre dekarbonisering på tværs af vores værdikæde og i transport- og logistiksektoren.
        Vi anerkender vores rolle som en del af den kritiske infrastruktur, der driver verdenshandelen – og dermed en katalysator for bæredygtig vækst for alle vores interessenter, herunder kunder, aktionærer og samfundet i almindelighed. 
        Vi arbejder på at kunne levere mere bæredygtige og effektive transportløsninger gennem bedre planlægning, nye teknologier og innovative løsninger.
        Som en af verdens største udbydere af transport- og logistikløsninger, har DSV et stort fokus på at sikre ansvarlige og bæredygtige forretningsmetoder overalt, hvor vi opererer. 
        Idet vi anerkender vores rolle i industrien, er vi fast besluttet på at spille en vigtig rolle i at muliggøre den ændring, der er nødvendig for at nå netto-nul-udledninger i vores industri såvel som i vores forretning. 
        For at leve op til dette ansvar har vi forpligtet os til at nå netto-nul-udledning på tværs af vores operationer inden 2050.
        Vi hjælper vores kunder med at navigere i komplekse forsyningskæder og introducere større effektivitet og bæredygtighed i deres operationer. 
        Vores grønne logistikløsninger tilbyde vores kunder specifikke dekarboniseringsløsninger, der spænder fra CO2-rapportering, strategisk forsyningskædeoptimering, bæredygtige lagerløsninger til bæredygtige brændstoffer og CO2-kompensation.
        Vi er en del af en kompleks branche, og at nå vores bæredygtighedsmål kræver partnerskab og samarbejde. 
        Vi tror stærkt på en kollektiv tilgang, og vi arbejder og samarbejder med kunder, leverandører, relevante organisationer og interessenter for at udvikle løsninger, der gavner både vores planet og vores virksomhed.
        På tværs af vores globale aktiviteter omsætter vi vores bæredygtighedsprioriteter til handling. Vores initiativer spænder fra at adressere affaldsforurening, yde effektiv katastrofehjælp, kæmpe for mangfoldighed og reducere CO2-udledning. 
        Vores aktiviteter er vist på vores bæredygtighedspåvirkningskort.
        </p>
</div>
</body>
</html>