@page

@{
    ViewData["Title"] = "Om DSV";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DSV </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DSV.styles.css" asp-append-version="true" />
</head>

<body class="OmDSV-page">
<div class="DSV-text-and-image">
    <img src="images/DSV Om.png" alt="OM DSV" ></img>
    <img src="images/Værdier.png" alt="værdier";></img>
    <hr>
    <div>
        <h5> Virksomhedsansvar</h5>
        <b> På vej mod bæredygtige forsyningskæder</b>
        <p>
            Vi holder globale forsyningskæder i gang og arbejder for at fremme dekarbonisering i transport- og logistiksektoren.
            Som en vigtig aktør i verdenshandelen er vi dedikeret til bæredygtig vækst for alle interessenter.</p>
        <p>Vi udvikler mere effektive og bæredygtige transportløsninger gennem innovation og ny teknologi.
            DSV har fokus på ansvarlige forretningsmetoder globalt og er forpligtet til netto-nul-udledning inden 2050.</p>
        <p>Vi hjælper kunder med at optimere deres forsyningskæder og reducere CO2-udledning gennem grønne løsninger som CO2-rapportering og bæredygtige brændstoffer.
            For at nå vores mål samarbejder vi med kunder, leverandører og andre interessenter.
            Vores bæredygtighedsinitiativer omfatter affaldshåndtering, katastrofehjælp, mangfoldighed og CO2-reduktion.</p>
    </div>
    <hr>
    <div>
        <h5> Værdier</h5>
        <b>Vores kultur og services er defineret af vores globale værdier</b>
        <p>
            Uanset hvor du møder os, er vi drevet af den samme overbevisning
        </p>
        <i> Kunderne først</i>
        <p> * Vi leverer gode kundeoplevelser og service af høj kvalitet</p>
        <p>  * Vi er proaktive i vores tilgang til kunderne og gør os umage for at bevare et tæt samarbejde</p>
        <p> * Vi gør det nemt for vores kunder at samarbejde med os</p>
        <i>De bedste resultater </i>
        <p>* Vi er transparente og resultatorienterede</p>
        <p> * Vi arbejder sammen som et stort team i vores globale netværk</p>
        <p>* Vi er drevet af en iværksætterånd og lokal medbestemmelse</p>
        <i> Ægte samarbejde </i>
        <p>* Vi tager ejerskab og viser initiativ<p/>
        <p> * Vi samarbejder og kommunikerer med respekt for hinanden</p>
        <p>* Vi fører en åben og ærlig dialog</p>
    </div>
    <hr>
    <div>
        <h5> Virksomhedsstruktur</h5>
        <b>Med kontorer i mere end 80 lande og et effektivt internationalt netværk af partnere og agenter er vi en stærk global aktør</b>
        <p>
            <b> Ejerskab</b>
            <p>DSV A/S er noteret på NASDAQ Copenhagen (Danmark) og er med i C25-indekset som en af de 25 mest handlede aktier på Københavns Fondsbørs.
                DSV A/S er moderselskabet, og vores organisation er opdelt i tre divisioner: DSV Road, DSV Air & Sea og DSV Solutions. </p>
            <i>DSV Road </i>
            <p> DSV Road er en af de førende aktører i Europa inden for vejtransport og har et stærkt distributionsnetværk i både Nordamerika og Afrika.
                Årligt håndterer vi mere end 30 millioner forsendelser, og hver eneste dag er mere end 20.000 lastbiler klar til at transportere dine varer på en hurtig, effektiv, fleksibel og miljøvenlig måde. </p>
            <i>DSV Air & Sea </i>
            <p>DSV Air & Sea tilbyder alternativ ruteplanlægning og fleksible afgangstidspunkter, der passer til selv de mest krævende logistikkrav til og fra alle dele af verden. Vi håndterer mere end 2.600.000 TEU søfragt og 1.700.000 ton luftfragt hvert år.</p>
            <i> DSV Solution</i>
            <p> Hos DSV Solutions samarbejder vi med vores kunder om at designe og levere smarte og effektive logistikløsninger, som tilfører værdi ved at øge driften og omkostningseffektiviteten.
                Vi driver hundredvis af logistikfaciliteter, der i alt består af 6.000.000 m2.</p>
        </p>
    </div>
   <hr>
    <div>
        <h5> Historie</h5>
        <p>DSV blev grundlagt i 1976 og har gennemført flere fusioner for at styrke sin position i den globale transportindustri. 
            Med opkøbet af UTI Worldwide i 2016 og Panalpina i 2019 er vi nu blandt verdens top fem speditionsselskaber med kontorer i over 80 lande. 
            I 2001 opdelt DSV sine aktiviteter i tre divisioner: Road, Air & Sea og Solutions, og vi fortsætter med at udvikle skræddersyede løsninger for at imødekomme kundernes krav.</p>
        <b>Rejsen fra dansk transportfirma til global aktør</b>
        <p>
            DSV blev grundlagt i 1976 af Leif Tullberg og ni lastbilfirmaer. 
        </p>
        <p>I 1989 ekspanderede vi internationalt med opkøbet af Borup Autotransport og Hammerbro A/S-Bech Trans, og senere Samson Transport og Svex Group.</p>
        <p>I 2000 gjorde opkøbet af DFDS Transport Group os til en global spiller og udvidede vores netværk til USA og Asien.</p>
        <p> I 2005 styrkede vi vores position i sø- og luftfragt med J.H. Bachmann, og året efter blev DSV en større paneuropæisk aktør med erhvervelsen af Frans Maas.
        Opkøbet af ABX LOGISTICS i 2008 satte os på verdenskortet i Sydamerika og styrkede vores position i Europa.<p/>
        <p>I 2016 opkøbte vi UTi Worldwide Inc., og i 2019 fusionerede DSV med Panalpina, hvilket gjorde os til verdens femte største transport- og logistikvirksomhed</p>
    </div>
</div>
</body>
</html>